<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de posiciones</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col items-center justify-center w-screen min-h-screen bg-gray-900 py-10">
    <h1 class="text-lg text-gray-400 font-medium">Home League 2024</h1>
    <div class="flex flex-col mt-6">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden sm:rounded-lg">
                    <table class="min-w-full text-sm text-gray-400">
                        <thead class="bg-gray-800 text-xs uppercase font-medium">
                            <tr>
                                <th></th>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">Club</th>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">PJ</th>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">G</th>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">E</th>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">P</th>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">GF</th>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">GE</th>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">GT</th>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">Pts</th>
                            </tr>
                        </thead>
                        <tbody class="bg-gray-800">
                            {% for row in rows %}
                            <tr class="bg-black bg-opacity-20">
                                <td class="pl-4">{{ loop.index }}</td>
                                <td class="flex px-6 py-4 whitespace-nowrap">
                                    <img class="w-5" src="{{ url_for('static', filename=row[10]) }}" alt="">
                                    <span class="ml-2 font-medium">{{ row[1] }}</span>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ row[2] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ row[3] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ row[4] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ row[5] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ row[6] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ row[7] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ row[8] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ row[9] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

